{
    "extends": ["eslint:recommended", "plugin:vue/recommended"],
    "plugins": ["vue", "import"],
    "rules": {
        /* your overrides */
        "semi": ["warn", "never"],
        "indent": ["error", 4],
        "camelcase": ["warn", {"properties": "always"}],
        "no-shadow": ["error", { "builtinGlobals": true, "hoist": "functions", "allow": [] }],
        "vue/order-in-components": "error"
    },
    "globals":{
        "window": true,
        "console": true,
        "document": true
    }
}
