version: '3'
services:
  db:
    image: mysql/mysql-server:5.7
    container_name: plock_mysql
    command: --bind-address=0.0.0.0 --character-set-server=utf8 --collation-server=utf8_general_ci
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: plock_test
      MYSQL_USER: plock
      MYSQL_PASSWORD: plock